// variables
$nav-bg: #32CD32;
$primary-color: #fdfd96;

// global var reset
*, *::before, *::after {
    box-sizing: border-box;
}

.page-wrapper {
    min-height: calc(100vh - 50px);
}

// reset padding/margin
body {
    margin: 0;
    padding: 0;
    background: $primary-color;
}

// navigation bar
.navbar {
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: row;
    background: $nav-bg;
    position: relative;
// left side of navbar
    .nav-left {
        flex: 1;
    }
// center side of navbar
    .nav-center {
        flex: 1;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
// shop name brand tedxt
        h3 {
            font-size: 40px;
        }
// right side of navbar
    }
    .nav-right {
        flex: 1;
    // navbar list (ul)
        .navbar-nav {
            display: flex;
            justify-content: flex-end;
            list-style-type: none;
            flex-direction: row;
            // navbar list items
                .nav-item {
                   margin-right: 25px;
                   font-size: 1.7em;
               }
           }
    }
}

// announcement bar
.announcement {
    width: 100%;
    height: 20px;
    text-align: center;
    position: relative;
    background: yellow;
    margin-top: -20px;
}

// footer
.footer-container {
     margin-top: 100px;
    display: flex;
    flex-direction: row;
    background: $nav-bg;
    width: 100%;
    height: 7em;
    .footer-left {
        flex: 1;
        .footer-contact-list {
            list-style-type: none;
            background: grey;
            width: 80%;
            margin-top: 7px;
            margin-left: 30px;
            padding: 5px 0;
            border-radius: 10px;
            box-shadow: 5px 5px  #000;
            .footer-contact-item {
                font-size: 1.2em;
                margin-left: 20px;
                display: block;
            }
    }
    }
    .footer-center {
        flex: 1;
    }
    .footer-right {
        flex: 1;
    }
}

// all products container
.all-products-container {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 2em;
    .item-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        box-shadow: 10px 10px rgba(0,0,0,0.5);
        outline: 1px solid black;

        img {
            height: 30vh;
            width: 300px;
            object-fit: cover;

        }
        .item-price {
            margin-top: -5px;
        }
    }
}
// new arrivals container
.new-arrivals-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
.new-arrivals-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 3em;

    .item-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        box-shadow: 10px 10px rgba(0,0,0,0.5);
        outline: 1px solid black;

        img {
            height: 30vh;
            width: 300px;
            object-fit: cover;

        }
        .item-price {
            margin-top: -5px;
        }
    }

}
// "see more" button
.see-more {
    margin-top: 50px;
    border: none;
    background: $nav-bg;
    color: white;
    font-weight: 700;
    font-family: serif;
    font-size: 25px;
    padding: 10px 20px;
    border-radius: 10px 0px 10px 0px;
    box-shadow: 0px 10px rgba(0,0,0,0.3);

    &:active {
        box-shadow: 0px 5px rgba(0,0,0,0.3);
        transform: translateY(5px);

    }
}
}

// product page container
.product-page-wrapper {
    .product-page-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 3em;
        .product-img-container {
            margin-top: 100px;
            flex: 1;
            display: flex;
            justify-content: center;
            align-items: center;
            img {
            height: 400px;
            width: 500px;
            object-fit: cover;
            box-shadow: 10px 10px rgba(0,0,0,0.5);
            }
        }
        .product-text-container {
            flex: 1;
            display: flex;
            flex-direction: column;

            .product-toCart-container {
                display: flex;
                flex-direction: column;

                select {
                    margin-top: 20px;
                    width: 50px;
                }

                button {
                    margin-top: 20px;
                    width: 200px;
                    border: none;
                    background: $nav-bg;
                    color: white;
                    font-weight: 700;
                    font-family: serif;
                    font-size: 25px;
                    padding: 10px 20px;
                    border-radius: 10px 0px 10px 0px;
                    box-shadow: 0px 10px rgba(0,0,0,0.3);

                    &:active {
                        box-shadow: 0px 5px rgba(0,0,0,0.3);
                        transform: translateY(5px);
                    }
                    
                }

                .qty-add-container {
                    display: inline-flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: center;
                    width: 100px;
                    font-size: 40px;

                    button {
                        margin-top: -30px;
                        width: 50px;
                        height: 50px;
                        font-weight: 700;
                        font-size: 60px;
                        border: none;
                        background: none;
                    }

                    
                }
            }
        }
    }
}

.cart-page-wrapper {
    display: flex;
    flex-direction: row;
    gap: 1em;
    .cart-page-container {
        flex: 7;
        margin-left: 20px;
        display: flex;
        flex-direction: column;
        gap: 1em;
        .cart-item-container {
            display: flex;
            flex-direction: row;
            outline: 1px solid black;
            box-shadow: 5px 5px rgba(0,0,0,0.3);

            img {
                height: 190px;
                width: 200px;
                object-fit: cover;
                margin: 10px;
                box-shadow: 5px 5px rgba(0,0,0,0.3);
            }
            .cart-text-container {
                margin-left: 20px;

            }
        }
    }
    .cart-summary-container {
        flex: 2;
        margin-right: 20px;
        text-align: center;
        outline: 1px solid black;
        box-shadow: 5px 5px rgba(0,0,0,0.3);
        hr {
            margin: 20px;
        }
        h3 {
            span {
                float: left;
                width: 50%;
            }
        }

        .pay-with-stripe {
            margin-bottom: 30px;
            border: none;
            background: $nav-bg;
            color: white;
            font-weight: 700;
            font-family: serif;
            font-size: 25px;
            padding: 10px 20px;
            border-radius: 10px 0px 10px 0px;
            box-shadow: 0px 10px rgba(0,0,0,0.3);

            &:active {
                box-shadow: 0px 5px rgba(0,0,0,0.3);
                transform: translateY(5px);
            }

        }
        .dump-cart {
            @extend .pay-with-stripe;
            background: black;
        }
    }
}

// newsletter container
.newsletter-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // newsletter form
    .newsletter-form {
        display: flex;
        flex-direction: row;
        // newsletter email input
        .newsletter-email-input {
            padding: 9px 0px;
            height: 2.2em;
            width: 30em;
            padding-left: 20px;
            font-size: 1.5em;
        }
        // newsletter submit button
        .newsletter-submit {
            height: 4em;
            width: 5em;
            background: $nav-bg;
        }
    }
}